.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}
#resultado{
  text-align: center;
}
.quiz-enviar{
  display: flex;
  justify-content: center;
}

.question-card {
  background-color: #2a284a;
  border: 2px solid #447594;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 900px;
}
.question-card *{
    background-color: inherit;
}

.question-card:hover {
  transform: translateY(-5px);
}

.question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.option-item input {
  margin-right: 8px;
}

