*{
    font-family: 'Fira Code', monospace;
    background: #1a1a2d;
    color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #03021a;
	color: #fff;
	padding: 0.5rem 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar div{
    background: #03021a;
}

.navbar a{
    background-color: #141137;
    border: solid 2px #2a284a;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    
}
.navbar a:hover{
    background-color: #2a284a;
    transform: translateY(-2px);
}

.icon-btn{
    color: white;
    padding: 10px;
    border-radius: 3px;
    background-color: #141137;
}

#nav-index,
#nav-certifications,
#nav-contact,
#nav-about{
    background-color: #2a284a;
    border: solid 2px #447594;

}